@{
    ViewData["Title"] = "Iniciar Sesión";
}

<h1 class="text-center">Iniciar Sesión</h1>


<div class="row justify-content-center text-center">
    <div class="col-md-4">
        <form method="post" asp-controller="Auth" asp-action="Login">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="correo">Correo Electrónico</label>
                <input type="email" class="form-control" id="correo" name="correo" required>
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" class="form-control" id="contrasena" name="contrasena" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            <div class="mt-2">
                ¿No tienes una cuenta? <a asp-controller="Auth" asp-action="Register">Regístrate aquí</a>
            </div>
        </form>
    </div>
</div>