@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a NetWatch!</h1>
    <p>Usuario actual: @ViewBag.NombreUsuario</p>
    <p>Esta es la página principal de nuestra aplicación.</p>
</div>
